input[type="link"] {
    border: none;
}

.ant-radio-button-wrapper:not(:first-child)::before {
    background: none;
}

.ant-layout-header {
    padding: 0 25px;
}

span.ant-transfer-list-search-action, a.ant-transfer-list-search-action {
    padding: 9px 0;
}

.ant-modal-close-x {
    padding: 20px 0;
}